/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 30, 2016, 10:16:19 PM
    Author     : TJ Yang @2015
*/
*{
    margin:0px;
    padding:0px;
}
h1{
    font:bold 35px Tahoma;
    margin-bottom: 10px;
    margin-top: 0px;
    background-color: white;
}
body {
   text-align: center;
   background-image: url('../img/clouds.jpg');
}
#big_wrapper{
    font-family: Tahoma;
    border: 1px solid black;
    background:white;
    width: 960px;
    height:900px;
    margin: 20px auto;
    text-align: left;
}
#top_header{
    background:aliceblue;
    padding: 10px
}
#top_menu{
    background:azure;
    color: white;
}
#top_menu li{
    display:inline-block;
    list-style: none;
    padding:10px;
    font:bold 14px Tahoma;
}
#top_menu li a:hover{
    color:white;
}
#main_section
{
    font: 14px Tahoma;
    float:left;
    width: 620px;
    margin: 30px;
    /*total 680px, 380 left*/
}
#caption{
    text-align: right;
    margin-right: 30px;
}
#next_page{
    clear: both;
    margin: 20px;
    text-align: right;
}
footer{
    border-top: 1px solid red;
    padding-top:10px;
    clear: both;
    margin: 20px;
    text-align: center;
    font: 11px Tahoma;
}
hr{
    height: 3px;
    background-color: red;
    margin-top: -12px;
}
img{
    border: 2px solid red;
    margin-top: 30px;
}
a{
    text-decoration: none;
}
a:link{color:black}
a:hover{color:white}
a:visited{color:black}

