

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#postPreview{
    background-color:whitesmoke;
}
.jumbotron{
    margin-bottom: 0px;
    padding-top: 7rem;
}
.post{
    border: solid;
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}














